<h2>Feu n°<%= @traffic_light.id %></h2>

<% if @traffic_light.state_at %>
	<p id="trafficLightRed" clas="trafficLightColor"><button class="dataPointReport">Rouge</button></p>
	<p id="trafficLightOrange" clas="trafficLightColor"><button class="dataPointReport">Orange</button></p>
	<p id="trafficLightGreen" clas="trafficLightColor"><button class="dataPointReport">Green</button></p>

	<p id="trafficLightRemainingTime"></p>
<% else %>
  <p>Données indisponibles pour ce feu.</p>
<% end %>

<script type="text/javascript">

var state = <%= @traffic_light.state_at[:state].to_s.camelize %>;

var cycle_time = <%= @traffic_light.cycle_time %> * 1000;
var green_time = <%= @traffic_light.green_time %> * 1000;
var orange_time = 2000;
var red_time = cycle_time - green_time - orange_time;

var remaining_time = <%= @traffic_light.state_at[:remaining_time] %> * 1000;

var interval = 300;

function nextState() {
	if (state === "Red") {
		remaining_time = green_time + remaining_time;
		state = "Green";
	} else if (state === "Green") {
		remaining_time = orange_time + remaining_time;
		state = "Orange";
	} else {
		red_time = orange_time + remaining_time;
		state = "Red";
	}

	$('.trafficLightColor').hide();
	$('#trafficLight' + state).show();
}

function updateTrafficLigth() {
	remaining_time -= interval;
	if (remaining_time < 0) {
		nextState();
	}
	
	$('#trafficLightRemainingTime').html((remaining_time / 1000) + 's');
}

setInterval(updateTrafficLigth, interval);

</script>
