<h2>Feu n°<%= @traffic_light.id %></h2>
<h3 class="trafficLightRemainingTime"></h3>

<% if traffic_light_state = @traffic_light.state %>

<p style="z-index: 1;">
	<img id="trafficLightRed" class="trafficLightColor hidden" alt="Red" src="/images/traffic_light_red.svg" />
	<img id="trafficLightOrange" class="trafficLightColor hidden" alt="Orange" src="/images/traffic_light_orange.svg" />
	<img id="trafficLightGreen" class="trafficLightColor hidden" alt="Green" src="/images/traffic_light_green.svg" />
</p>

<p class="trafficLightRemainingTime" style="z-index: 2;"></p>

<script type="text/javascript">

var state = "<%= traffic_light_state[:state].to_s.camelize %>";

var cycle_time = <%= @traffic_light.cycle_time %> * 1000;
var green_time = <%= @traffic_light.green_time %> * 1000;
var orange_time = 2000;
var red_time = cycle_time - green_time - orange_time;

var remaining_time = <%= traffic_light_state[:remaining_time] %> * 1000;

var interval = 150;

function nextState() {
	if (state === "Red") {
		remaining_time = green_time + remaining_time;
		state = "Green";
	} else if (state === "Green") {
		remaining_time = orange_time + remaining_time;
		state = "Orange";
	} else {
		remaining_time = red_time + remaining_time;
		state = "Red";
	}

	$('.trafficLightColor').hide();
	$('#trafficLight' + state).show();
}

function updateTrafficLigth() {
	remaining_time -= interval;
	if (remaining_time < 0) {
		nextState();
	}
	
	$('.trafficLightRemainingTime').html((remaining_time / 1000).toFixed(2) + ' s');
}

$(function() {
	$('#trafficLight' + state).show();
	setInterval(updateTrafficLigth, interval);
});

</script>

<% else %>
  <p>Données indisponibles pour ce feu.</p>
<% end %>

<p><%= link_to 'Contribuer', data_points_traffic_light_path(@traffic_light) %></p>
